/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    // background-image: url("./assets/cats.jpg");
    

    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 30%,
        rgba(116, 21, 108, 1) 46%,
        rgba(124, 22, 115, 1) 56%,
        rgba(117, 23, 109, 1) 60%,
        rgba(253, 45, 234, 1) 100%
    );
    background-attachment: fixed;
}
